
{% extends "layout.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div class="page-header">
    <h1 class="page-title">
        Monthly
    </h1>
</div>

<div class="row row-cards row-deck">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="monthly table table-hover table-outline table-vcenter text-nowrap card-table">
                    <thead>
                        <tr>
                            <th>Categories</th>
                            {% for m in months %}
                            <th class="text-center">{{ m }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for k, item in result.items() %}
                        <tr {% if item['parent_id'] == -1 %} style="font-weight: 600;" {% endif %}
                        {% if item['parent_id'] == -1 %} data-toggle="collapse" data-target=".child-{{ item['id'] }}" class="clickable"
                        {% elif item['parent_id'] != -1 %} class="child-{{ item['parent_id'] }} collapse"

                        {% endif %}>
                            <td>
                                {{ item['name'] }}
                            </td>
                            {% for m in months %}
                            <td class="text-right">
                                <span>
                                    {% if 'amount' in item['data'][m].keys() %}
                                    {{ "{:,.2f}".format((item['data'][m]['amount'])/100).replace(',', ' ') }}
                                    {% endif %}
                                </span>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        <thead>
                            <tr>
                                <th></th>
                                {% for m in months %}
                                <th class="text-center">{{ m }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
